
body {	background-color: #0F56A2;
	font-family: Verdana, Helvetica, sans-serif;
	background-image: url("blueprint.jpg");
	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed; }

h1   {color: yellow;}

h4   {color: yellow;}

p    {color: white;}

p.the_date   {color: yellow;}

a { text-decoration: none; }

/* TIME DASH */
.timedash {
	color: white;
	font-size: 16px;
	text-align: center;
	font-family: 'Orbitron';
	src: url(orbitron.ttf);
	font-weight: normal;
	background-color: #468562; /* Deep Aquamarine */
	background: conic-gradient(from 90deg at 1px 1px,#49B649 90deg,#197B00 0)  8px 4px/12px 12px; /* Lime Green */
	opacity: .85;
	border: 2px solid #242424;
	border-radius: 5px 5px; }

/* BUTTONS */
#selectone {
  background-color: #DD0000;
  border: 3px solid darkgray;
  border-radius: 5px 5px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: background-color 0.6s;
}

#selectone:hover { background-color: #FF0000; color: white; }
#selectone:active { background-color: orange; color: white; }

#selectpairs {
  background-color: #DD0000;
  border: 3px solid darkgray;
  border-radius: 5px 5px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: background-color 0.6s;
}

#selectpairs:hover { background-color: #FF0000; color: white; }
#selectpairs:active { background-color: orange; color: white; }

button {
  background-color: #0F56A2;
  border: 3px solid darkgray;
  border-radius: 5px 5px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: background-color 0.6s;
}

button:hover { background-color: #3176BC; color: white; }
button:active { background-color: red; color: white; }

/* QUESTION STYLE */
#resultone	{width: 88%; background-color:#FFFF44; border: 3px solid white; border-radius: 20px 20px; border-size:5px; padding: 5px; color: black;}
#resultpairs	{width: 88%; background-color:#FFFF44; border: 3px solid white; border-radius: 20px 20px; border-size:5px; padding: 5px; color: black;}
font-family {Verdana; Tahoma;}

/* INSTRUCTIONS ALERT */
.alert { position: absolute; top: 8%; right: 36%; padding: 18px; background-color: #DD0000; color: white; border: solid 4px #000; border-radius: 12px; }
.closebtn { position: absolute; top: 4px; right: 8px; margin-left: 15px; color: white; font-weight: bold; font-size: 24px; line-height: 16px; cursor: pointer; transition: 0.3s; }
.closebtn:hover { color: black; }

/* SCROLLBAR */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #0F56A2; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }
